.h-padding {
    padding: gutter(default) !important;
}

.h-padding-none {
    padding: 0 !important;
}

.h-padding-small {
    padding: gutter(s) !important;
}

.h-padding-medium {
    padding: gutter(m) !important;
}

.h-padding-large {
    padding: gutter(l) !important;
}

.h-padding-left {
    padding-left: gutter(default) !important;
}

.h-padding-left-none {
    padding-left: 0 !important;
}

.h-padding-left-small {
    padding-left: gutter(s) !important;
}

.h-padding-left-medium {
    padding-left: gutter(m) !important;
}

.h-padding-left-large {
    padding-left: gutter(l) !important;
}

.h-padding-right {
    padding-right: gutter(default) !important;
}

.h-padding-right-none {
    padding-right: 0 !important;
}

.h-padding-right-small {
    padding-right: gutter(s) !important;
}

.h-padding-right-medium {
    padding-right: gutter(m) !important;
}

.h-padding-right-large {
    padding-right: gutter(l) !important;
}

.h-padding-horizontal {
    padding-right: gutter(default) !important;
    padding-left: gutter(default) !important;
}

.h-padding-horizontal-none {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.h-padding-horizontal-small {
    padding-right: gutter(s) !important;
    padding-left: gutter(s) !important;
}

.h-padding-horizontal-medium {
    padding-right: gutter(m) !important;
    padding-left: gutter(m) !important;
}

.h-padding-horizontal-large {
    padding-right: gutter(l) !important;
    padding-left: gutter(l) !important;
}

.h-padding-top {
    padding-top: gutter(default) !important;
}

.h-padding-top-none {
    padding-top: 0 !important;
}

.h-padding-top-small {
    padding-top: gutter(s) !important;
}

.h-padding-top-medium {
    padding-top: gutter(m) !important;
}

.h-padding-top-large {
    padding-top: gutter(l) !important;
}

.h-padding-bottom {
    padding-bottom: gutter(default) !important;
}

.h-padding-bottom-none {
    padding-bottom: 0 !important;
}

.h-padding-bottom-small {
    padding-bottom: gutter(s) !important;
}

.h-padding-bottom-medium {
    padding-bottom: gutter(m) !important;
}

.h-padding-bottom-large {
    padding-bottom: gutter(l) !important;
}

.h-padding-vertical {
    padding-top: gutter(default) !important;
    padding-bottom: gutter(default) !important;
}

.h-padding-vertical-none {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.h-padding-vertical-small {
    padding-top: gutter(s) !important;
    padding-bottom: gutter(s) !important;
}

.h-padding-vertical-medium {
    padding-top: gutter(m) !important;
    padding-bottom: gutter(m) !important;
}

.h-padding-vertical-large {
    padding-top: gutter(l) !important;
    padding-bottom: gutter(l) !important;
}
