.alerts {
    margin: gutter() 0;

    &:empty {
        display: none;
    }
}

.alerts--docked {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    z-index: z-index(modal);

    text-align: center;

    .alert {
        margin: 0;
    }
}

.alerts__close {
    position: absolute;
    top: gutter();
    right: gutter();

    color: inherit;
}

.alert {
    padding: gutter();

    & + & {
        margin-top: gutter();
    }

    &:empty {
        display: none;
    }

    &.-small {
        font-size: font-size(s);

        padding: gutter(s);
    }

    &.-medium {
        font-size: font-size(m);

        padding: gutter(s);
    }

    &.-large {
        font-size: font-size(l);

        padding: gutter(s);
    }
}


.alert--info {
    @extend .alert;

    color: blue(dark);
    background: blue(lightest);
}

.alert--success {
    @extend .alert;

    color: green(dark);
    background: green(lightest);
}

.alert--warning {
    @extend .alert;

    color: white();
    background: yellow();
}

.alert--error,
.alert--danger {
    @extend .alert;

    color: red();
    background: red(lightest);
}
