@import './color';
$buttons: (
    neutral-background: map-get($gray, light),
    neutral-color: map-get($gray, dark),
    primary-background: map-get($blue, default),
    primary-color:  map-get($color, white),
    secondary-background: map-get($blue, dark),
    secondary-color:  map-get($color, white),
    success-background: map-get($green, default),
    success-color:  map-get($color, white),
    warning-background: map-get($orange, default),
    warning-color:  map-get($color, white),
    danger-background: map-get($red, default),
    danger-color:  map-get($color, white),
    padding: 1.25em,
) !default;
