@import './color';
$buttons: (
    neutral-background: gray(light),
    neutral-color: gray(dark),
    primary-background: blue(default),
    primary-color: white(),
    secondary-background: blue(dark),
    secondary-color:  white(),
    success-background: green(default),
    success-color:  white(),
    warning-background: orange(),
    warning-color:  white(),
    danger-background: red(),
    danger-color:  white(),
    padding: 1.25em,
) !default;
