@import './color';
$inputs: (
    height: 2.5em,
    height-small: 1.5em,
    height-textarea: 10em,
    border-width: 2px,
    border-color: gray(lighter),
    border-color-hover: gray(light),
    border-color-focus: blue(light),
    border-radius: border-radius(s),
    box-shadow: (inset 0 2px 2px rgba(0, 0, 0, .05), 0 2px 2px rgba(0, 0, 0, .05)),
    color: text-color(),
    mark-color: blue(),
    placeholder-color: gray(lighter),
    padding: .75em,
) !default;
