.grid {
    max-width: grid(max-width);
    margin: 0 auto;
    padding: gutter();

    &.-left {
        margin-left: 0;
    }

    &.-right {
        margin-right: 0;
    }
}

$av-namespace: 'grid__row';
$av-gutter: grid(spacing);
$av-width-class-namespace: '-width-';
$av-width-class-style: 'fraction';
$av-widths: grid(widths);
$av-breakpoints: (
    s:  '(min-width: #{map-get(map-get($breakpoints, horizontal), s)})',
    m:  '(min-width: #{map-get(map-get($breakpoints, horizontal), m)})',
    l:  '(min-width: #{map-get(map-get($breakpoints, horizontal), l)})',
);
$av-element-name: 'grid__col';
$av-modifier-class-chain: '.-';

// Enable/disable grid layouts
$av-enable-grid-center: true;
$av-enable-grid-cell-center: true;
$av-enable-grid-right: true;
$av-enable-grid-middle: true;
$av-enable-grid-bottom: true;
$av-enable-grid-flush: true;
$av-enable-grid-tiny: false;
$av-enable-grid-small: false;
$av-enable-grid-large: false;
$av-enable-grid-huge: false;
$av-enable-grid-auto: true;
$av-enable-grid-rev: true;

@import '~avalanche-css/avalanche';
