@mixin background-image-tinted($image, $rgba, $background-position: center center) {
    background: linear-gradient($rgba, $rgba), url('#{$image}');
    background-position: $background-position;
    background-size: cover;
}

@mixin background-cover ($background-position: center center, $background-size: cover, $background-repeat: no-repeat) {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
