@mixin gradient-vertical($start, $stop, $from: 0, $to: 100%) {
    background: $start; // old browsers
    background: linear-gradient(to bottom, $start $from, $stop $to); // W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+
}

@mixin gradient-horizontal($start, $stop, $from: 0, $to: 100%) {
    background: $start; // old browsers
    background: linear-gradient(to right, $start $from, $stop $to); // W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+
}

@mixin gradient-radial($start, $stop, $from: 0, $to: 100%, $shape: circle) {
    background: $start; // old browsers
    background: radial-gradient($shape at center, $start $from,$stop $to); // W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
}
