* {
    font-family: font-family(default);

    box-sizing: border-box;
    position: relative;
    color: inherit;
    line-height: inherit;
    font-weight: inherit;

    &:after,
    &:before {
        box-sizing: border-box;
    }
}
