button,
.button {
    @include font-bold;

    line-height: line-height(xs);

    display: inline-block;
    min-height: input(height);
    padding: #{(input(height) - line-height(xs))/2} button(padding);
    vertical-align: middle;

    color: button(neutral-color);
    background-color: button(neutral-background);
    border: transparent input(border-width) solid;
    border-radius: input(border-radius);

    transition: border-color .1s linear;

    &:hover {
        background-color: darken(button(neutral-background), .3);
    }

    &:focus {
        border-color: input(border-color-focus) !important;
        outline: 0;
    }

    &:active {
        transform: translateY(1px);
    }

    &.-rounded {
        border-radius: input(height);
    }

    &.-stretched {
        width: 100%;
    }
}

.button--primary {
    @extend .button;

    color: button(primary-color);
    background-color: button(primary-background);

    &:hover {
        background-color: darken(button(primary-background), .3);
    }
}

.button--secondary {
    @extend .button;

    color: button(secondary-color);
    background-color: button(secondary-background);

    &:hover {
        background-color: darken(button(secondary-background), .3);
    }
}

.button--success {
    @extend .button;

    color: button(success-color);
    background-color: button(success-background);

    &:hover {
        background-color: darken(button(success-background), .3);
    }
}

.button--warning {
    @extend .button;

    color: button(warning-color);
    background-color: button(warning-background);

    &:hover {
        background-color: darken(button(warning-background), .3);
    }
}

.button--danger {
    @extend .button;

    color: button(danger-color);
    background-color: button(danger-background);

    &:hover {
        background-color: darken(button(danger-background), .3);
    }
}
