html {
    @include font;
    @include text-antialiasing($font-anti-aliasing);

    font-size: font-size(default, px);
    line-height: line-height();

    box-sizing: border-box;
    min-height: 100vh;

    color: text-color();

    @include mq-smaller(l) {
        @include font-size(s, px);
    }
    @include mq-smaller(m) {
        @include font-size(xs, px);
    }
    @include mq-smaller(s) {
        @include font-size(xs, px);
    }
}

.html--stretched {
    display: flex;

    body {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .header,
    .footer {
        flex-grow: 0;
        flex-shrink: 0;
    }

    .main {
        flex-grow: 1;
    }
}
