* {
    font-family: font-family(default);
    font-weight: inherit;
    line-height: inherit;

    box-sizing: border-box;
    position: relative;

    color: inherit;

    &:after,
    &:before {
        box-sizing: border-box;
    }
}
